$primarycolour-dark-background: #021F4B;
$primarycolour-border-buttom: #496C99;
$primarycolour-light-text: #FAFAFA;
$primarycolour-card-background: #E0E7FF;


$mobile-padding-width: 0rem 1rem 0rem 1rem;
